html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  body {
    margin: 0;
    line-height: inherit;
  }

  .content_container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  header{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 50;
  }

  menu_entry{
    margin-left: 1.5rem;
  }
  
  menu_link{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }